@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Press Start 2P";
  display: flex;
  flex-direction: column;
  background-color: #219c90;
  padding: 1rem;
}

.nav-bar {
  display: flex;
  padding: 1rem;
  background-color: #e9b824;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.nav-link {
  font-family: inherit;
  border: none;
  background-color: inherit;
  font-size: 24px;
  margin-right: 25px;
  color: #d83f31;
  font-weight: bold;
  cursor: pointer;
}
.nav-link:hover {
  opacity: .7;
}

.nav-bar .search-window {
  display: flex;
  flex-direction: column;
  background-color: #219c90;
  padding: 0.3rem;
  border-radius: 10px;
  color: white;
  margin-left: auto;
  width: 200px;
  gap: .2rem;
}

.nav-bar .search-window input {
  width: 100%;
  padding: 0.3rem;
}
.party-numbers {
  text-align: right;
}

.pokemon-view {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.tab {
  background-color: #e9b824;
  border-radius: 10px;
  padding: 1rem;
}
.pokemon-window {
  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.window-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  color: #d83f31;
}
.window-header .pokemon-name {
  margin-left: 1rem;
}
.window-header img {
  height: 200px;
  width: 200px;
}

.add-remove-pokemon {
  align-self: flex-end;
  margin-top: auto;
}
.add-remove-pokemon .btn {
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  background-color: #219c90;
  color: #e9b824;
  cursor: pointer;
}
.add-remove-pokemon .btn:hover {
  opacity: 0.7;
}
.add-remove-pokemon .btn:active {
  transform: scale(0.9);
}
.party-tab {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
}

.party-member {
  display: flex;
  align-items: center;
  
  background-color: #219c90;
  border-radius: 10px;
  padding: 1rem;
  color: #e9b824;
  height: 4rem;
  cursor: pointer;
}
.party-member:hover {
  opacity: 0.8;
}
.party-member:active {
  transform: scale(0.95);
}
.sprite-small {
  height: 75px;
  width: 75px;
}
